<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form *ngIf="!divNewPassword" [formGroup]="conFirmForm" (ngSubmit)="confirm()">
      <h1 style="padding-bottom: 30px ; font-size: 20px">Quên mật khẩu ?</h1>
      <input type="text" formControlName="username" placeholder="Nhập tên tài khoản của bạn" />
      <div *ngIf="this.conFirmForm.get('username')?.errors?.required" class="col alert alert-danger">
        <p style="color: crimson ; margin-bottom: 0px;margin-top: 0px;">Tên tài khoản phải đc nhập !</p>
      </div>
      <input type="email" formControlName="email" placeholder="Nhập email của bạn" />
      <div *ngIf="this.conFirmForm.get('email')?.errors?.required" class="col alert alert-danger">
        <p style="color: crimson ; margin-bottom: 0px;margin-top: 0px;">Tên tài khoản phải đc nhập !</p>
      </div>
      <button type="submit">Xác nhận</button>
    </form>

    <form *ngIf="divNewPassword" [formGroup]="newConFirmForm" (ngSubmit)="changeNewPassword(user.id)">
      <h1>Quên mật khẩu?</h1>
      <!--      password-->
      <input type="password" formControlName="newPassword" placeholder="Hãy nhập mật khẩu mới" />
      <div class="col alert alert-danger" role="alert" *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
        <div *ngIf="newPassword?.errors?.required" class="col alert alert-danger">
          Mật khẩu không được bỏ trống!
        </div>
        <div *ngIf="newPassword?.errors?.minlength" class="col alert alert-danger">
          Mật khẩu phải dài ít nhất 6 ký tự!
        </div>
        <div *ngIf="newPassword?.errors?.pattern" class="col alert alert-danger">
          Mật khẩu tối thiểu 6 ký tự, ít nhất một chữ hoa, một chữ thường và một số!
        </div>
      </div>
      <!--      confirm password-->
      <input type="password" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu của bạn" />
      <div class="col alert alert-danger" role="alert" *ngIf="newConfirmPassword?.invalid && (newConfirmPassword?.dirty || newConfirmPassword?.touched)">
        <div *ngIf="newConfirmPassword?.errors?.required" class="col alert alert-danger">
          Mật khẩu không được bỏ trống!
        </div>
        <div *ngIf="newConfirmPassword?.errors?.minlength" class="col alert alert-danger">
          Mật khẩu phải dài ít nhất 6 ký tự!
        </div>
        <div *ngIf="newConfirmPassword?.errors?.pattern" class="col alert alert-danger">
          Mật khẩu tối thiểu 6 ký tự, ít nhất một chữ hoa, một chữ thường và một số!
        </div>
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="isConfirmPassword">
        Sai mật khẩu!
      </div>

      <button class="confirm-button" type="submit" >Xác nhận</button>
    </form>

  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Đã có tài khoản!</h1>
        <p>Bấm đăng nhập ngay!</p>
        <button type="submit" class="ghost" id="signUp" routerLink="/login">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>
