<div class="container">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
      <div class="wrap d-md-flex">
        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
          <div class="text w-100">
            <h2>Welcome to login</h2>
            <p>Don't have an account?</p>
            <a routerLink="/register" class="btn btn-white btn-outline-white">Sign Up</a>
          </div>
        </div>
        <div class="login-wrap p-4 p-lg-5">
          <div class="d-flex">
            <div class="w-100">
              <h2 style="padding-bottom: 30px ; font-size: 20px">Forgot password ?</h2>
            </div>
            <div class="w-100">
              <p class="social-media d-flex justify-content-end">
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                  class="fa fa-facebook"></span></a>
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                  class="fa fa-twitter"></span></a>
              </p>
            </div>
          </div>
    <form *ngIf="!divNewPassword" [formGroup]="conFirmForm" (ngSubmit)="confirm()">
      <div class="form-group mb-3">
        <label class="label">Username</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Enter your account name">
      <div *ngIf="this.conFirmForm.get('username')?.errors?.required" class="col alert alert-danger">
        <p style="color: crimson ; margin-bottom: 0px;margin-top: 0px;">Account name must be entered !</p>
      </div>
      </div>
      <div class="form-group mb-3">
      <label class="label">Email</label>
      <input type="email" formControlName="email" class="form-control" placeholder="Enter your email" >
      <div *ngIf="this.conFirmForm.get('email')?.errors?.required" class="col alert alert-danger">
        <p style="color: crimson ; margin-bottom: 0px;margin-top: 0px;">Account name must be entered !</p>
      </div>
      </div>
      <div class="form-group">
      <button type="submit" class="form-control btn btn-primary submit px-3">Confirm</button>
      </div>
    </form>

    <form *ngIf="divNewPassword" [formGroup]="newConFirmForm" (ngSubmit)="changeNewPassword(user.id)">
      <!--      password-->
      <div class="form-group mb-3">
        <label class="label">Please re-enter your password</label>
      <input type="password" class="form-control" formControlName="newPassword" placeholder="Please enter a new password" >
      <div class="col alert alert-danger" role="alert" *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
        <div *ngIf="newPassword?.errors?.required" class="col alert alert-danger">
          Password cannot be left blank!
        </div>
        <div *ngIf="newPassword?.errors?.minlength" class="col alert alert-danger">
          Password must be at least 6 characters long!
        </div>
        <div *ngIf="newPassword?.errors?.maxLength" class="col alert alert-danger">
          Password cannot exceed 32 characters!
        </div>
      </div>
      </div>
      <!--      confirm password-->
      <div class="form-group mb-3">
        <label class="label">Please enter a new password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm your password" />
      <div class="col alert alert-danger" role="alert" *ngIf="newConfirmPassword?.invalid && (newConfirmPassword?.dirty || newConfirmPassword?.touched)">
        <div *ngIf="newConfirmPassword?.errors?.required" class="col alert alert-danger">
          Password cannot be left blank!
        </div>
        <div *ngIf="newConfirmPassword?.errors?.minlength" class="col alert alert-danger">
          Password must be at least 6 characters long!
        </div>
        <div *ngIf="newConfirmPassword?.errors?.maxLength" class="col alert alert-danger">
          Password cannot exceed 32 characters!
        </div>
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="isConfirmPassword">
        Wrong password!
      </div>
      </div>
      <button class="form-control btn btn-primary submit px-3" type="submit" >Confirm</button>
    </form>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../assets/js/popper.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>







