<!--<footer class="bg-dark text-center text-white">-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->
<!--  <div class="container p-4" style="text-align: center">-->
<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    <section class="mb-4">-->
<!--      &lt;!&ndash; Facebook &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--      ><i class="fab fa-facebook-f"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Twitter &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--      ><i class="fab fa-twitter"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Google &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--      ><i class="fab fa-google"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Instagram &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--      ><i class="fab fa-instagram"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--      ><i class="fab fa-linkedin-in"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Github &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--      ><i class="fab fa-github"></i-->
<!--      ></a>-->
<!--    </section>-->
<!--    <section class="mb-4">-->
<!--      <p style="text-align: center">-->
<!--        Đây là sản phẩm dự án Trello thuộc nhóm H3K-CodeGym</p>-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Text &ndash;&gt;-->

<!--    &lt;!&ndash; Section: Links &ndash;&gt;-->
<!--    <section class="">-->
<!--      &lt;!&ndash;Grid row&ndash;&gt;-->
<!--      &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Links &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->

<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="text-center p-3" style="text-align: center">-->
<!--    © 2021 Copyright:-->
<!--    <a class="text-white" href="https://codegym.vn/" target="_blank">H3K-CodeGym</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
